<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClienteWebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ClienteWebServices.Properties.Settings>
            <setting name="ClienteWebServices_sonda1_Sonda1" serializeAs="String">
                <value>http://localhost:8080/Sonda1/services/Sonda1.Sonda1HttpSoap11Endpoint/</value>
            </setting>
            <setting name="ClienteWebServices_sonda2_Sonda2" serializeAs="String">
                <value>http://localhost:8080/Sonda2/services/Sonda2.Sonda2HttpSoap11Endpoint/</value>
            </setting>
        </ClienteWebServices.Properties.Settings>
    </applicationSettings>
</configuration>